* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-image: linear-gradient(to right, white, #5b88a7);
}
main {
  padding: 10px 20px;
}

nav {
  padding: 30px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  backdrop-filter: blur(5px);
}
.logo h4 {
  font-size: 25px;
  font-weight: 200;
}
/* .navbar{
  padding-right:100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
} */

.navbar h4 {
  font-size: 20px;
  font-weight: 300;
  display: none;
}
.navbar i {
  font-size: 28px;
}

.section1 {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.part1 h4 {
  color: #6f1d1b;
}

.part1 h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 0.9;
}

.part1 p {
  padding: 20px;
  font-weight: 100;
  font-size: 25px;
}
.part1 .icon {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.part1 .icon i {
  font-size: 30px;
}

.part1 .butt button {
  margin: 10px;
  padding: 20px 30px;
  font-size: 18px;
  letter-spacing: 2px;
}

.butt .black {
  background-color: black;
  color: white;
}
.butt .white {
  border: 2px solid black;
}

@media (min-width: 1200px) {
  .navbar h4 {
    display: block;
  }
  .navbar i {
    display: none;
  }
  .navbar {
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .section1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .section1 .part1 {
    width: 70%;
    /* background-color: salmon; */
  }
  /* .section1 .imagepart {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  .section1 .imagepart img {
    background-color: blue;
    height: 730px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;

    
  } */
  .imagepart {
    height: 800px;
    width: 100%;
  }
  .section1 .imagepart img {
    width: 100%;

    overflow: hidden;
    object-fit: contain;
  }
}

.imagepart {
  /* background-color: aqua; */
  /* height: 720px;  */
  width: 100%;
}
.section1 .imagepart img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}

/* About Section CSS */

.section2 {
  padding: 10px 20px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section2 h1 {
  font-size: 40px;
  font-weight: 500;
}

.section2 p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 19px;
  font-weight: 200;
  white-space: normal;
  text-align: justify;
  letter-spacing: 1;
}

.text button {
  width: 220px;
  font-size: 20px;
  background-color: white;
  padding: 20px 10px;
  letter-spacing: 2px;
}

.butt {
  margin-top: 30px;
}

.section2 .skill {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.skill .web {
  width: 95%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 19px;
  position: relative;
  padding: 10px 0;
}

.web::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #6f1d1b 95%, #e9e8e8 5%);
}

.skill .html {
  width: 95%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 19px;
  position: relative;
  padding: 10px 0;
}

.html::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #6f1d1b 90%, #e9e8e8 10%);
}

.skill .react {
  width: 95%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 19px;
  position: relative;
  padding: 10px 0;
}

.react::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #6f1d1b 65%, #e9e8e8 35%);
}

.skill .docker {
  width: 95%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 19px;
  position: relative;
  padding: 10px 0;
}

.docker ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #6f1d1b 80%, #e9e8e8 20%);
}

@media (min-width: 1200px) {
  .section2 {
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .section2 .text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5;
  }
  .section2 .skill {
    /* background-color: aquamarine; */
    width: 60%;
    justify-content: start;
    align-items: center;
    padding-top: 60px;
  }
}

/* Section 3 CSS */

.section3 {
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}

.skillbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  line-height: 1.5;
}

.skillbox h2 {
  font-size: 20px;
  font-weight: 500;
}
.skillbox p {
  font-size: 18px;
  padding: 10px;
}
.skillbox img {
  width: 40px;
}

@media (min-width: 1200px) {
  .skillbox {
    padding: 0 6%;
    width: 100%;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;

    /* background-color: aqua; */
  }
  .skillbox img {
    width: 60px;
  }
  .skillbox .design {
    width: 400px;
    font-weight: 100;
  }
  .content {
    width: 400px;
  }
  .front {
    width: 400px;
  }
}

.section4 {
  width: 100%;
  /* height: 500px;
background-color: aqua; */
}

.section4 .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work h1 {
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 400;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.image {
  width: 100%;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

@media (min-width: 1080px) {
  .image {
    grid-template-areas:
      "a b c"
      "d e f";
  }

  .image {
    padding: 25px 6%;
  }
}

.child-a {
  grid-area: a;
}
.child-b {
  grid-area: b;
}
.child-c {
  grid-area: c;
}
.child-d {
  grid-area: d;
}
.child-e {
  grid-area: e;
}
.child-f {
  grid-area: f;
}

/* Section 5 CSS */

.section5 {
  width: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1200px) {
  .experience {
    padding: 0 6%;
    height: 500px;
    flex-direction: row;
    gap: 100px;
  }

  .experience .feb {
    align-items: start;
    width: 50%;
  }
  .experience .April {
    align-items: start;
    width: 50%;
  }
}

.section5 .heading {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
}

.experience .feb {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 18px;
  text-align: start;
}

.feb h1 {
  color: #ffd700;
  font-weight: bold;
}
.feb h2 {
  font-size: 20px;

  color: gainsboro;
}

.feb .left {
  margin-left: 15px;
  text-align: start;
}

.experience .April {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 18px;
  text-align: start;
}

.April h1 {
  color: #ffd700;
  font-weight: bold;
}
.April h2 {
  font-size: 20px;

  color: gainsboro;
}

.April .left {
  margin-left: 15px;
  text-align: start;
}
/* Section 6 css */

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 10px;
}

.section6 .eduction {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section6 .heading {
  font-size: 40px;
  font-weight: 300;
}
.eduction .mca {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 18px;
  text-align: start;
}
.mca .year {
  color: #ffd700;
}

.mca h3 {
  color: #bfbfbf;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 1080px) {
  .section6 .eduction {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* section 7 css */

.section7 {
  position: relative;
  background: url(https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0)
    no-repeat center center / cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 40px;
}

@media (max-width: 480px) {
  .section7 {
    min-height: 300px;
    padding: 15px;
  }
}

.section7 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* <-- opacity here */
}

.section7 .content1 {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}
.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* text-wrap: nowrap; */
}
.content1 p {
  font-size: 18px;
}

.content1 .big {
  font-size: 21px;
}

.content1 .yellow {
  color: #ffd700;
}
.content1 button {
  background-color: #ffd700;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.content1 h3 {
  font-size: 40px;
}
@media (min-width: 1080px) {
  .content1 h3 {
    text-wrap: nowrap;
  }
  .content1 p {
    text-wrap: nowrap;
  }
}

/* section 8 */

.section8 {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 10px;
}

.section8 h1 {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
}
.section8 p {
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}
.section8 .form {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form input {
  padding: 10px;
  font-size: 15px;
  height: 50px;
  width: 350px;
  border: 1px solid #bfbfbf;
}

.section8 textarea {
  padding: 10px;
  font-size: 15px;
  width: 350px;
  height: 350px;
  border: 1px solid #bfbfbf;
  /* color:#bfbfbf; */
}
.section8 button {
  font-size: 15px;
  padding: 15px 30px;
  background-color: #6f1d1b;
  color: #e9e8e8;
  font-weight: 400;
}

/* section 9 CSS */

.section9 {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section9 h1 {
  font-size: 40px;
}
.section9 .contactUs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section9 .contactUs p {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .section9 .contactUs p {
    font-size: 4vw;
    text-wrap: nowrap;
  }
}

.section9 .contactUs .yellow {
  color: #ffd700;
}

/* footer part CSS */

.footer{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  color: #bfbfbf;
}

.footer i{
  font-size: 30px;
}